<div style="width: 100%; height: 100%" class="cadena">
  <label style="font-size: 3em; color:white">Nb essaie :  {{this.nbEssaie}}</label>
  <div class="cadenaBox">
    <div class="digitBox">
      <div>
        <div class="arrowUp" style="top: 430px; left: 85px" (click)="addDigitValue(true, 0)" [ngClass]="digitBon[0] ? 'BackGroundGreyUp' : ''"></div>
        <div class="digit1" [ngClass]="digitBon[0] ? 'ColorYellow' : ''">{{ digits[0] }}</div>
        <div class="arrowDown" style="top: 450px; left: 85px" (click)="addDigitValue(false, 0)" [ngClass]="digitBon[0] ? 'BackGroundGreyDown' : ''"></div>
      </div>

      <div>
        <div class="arrowUp" style="top: 430px; left: 105px" (click)="addDigitValue(true, 1)" [ngClass]="digitBon[1] ? 'BackGroundGreyUp' : ''"></div>
        <div class="digit2" [ngClass]="digitBon[1] ? 'ColorYellow' : ''">{{ digits[1] }}</div>
        <div class="arrowDown" style="top: 450px; left: 105px" (click)="addDigitValue(false, 1)" [ngClass]="digitBon[1] ? 'BackGroundGreyDown' : ''"></div>
      </div>

      <div>
        <div class="arrowUp" style="top: 430px; left: 125px" (click)="addDigitValue(true, 2)" [ngClass]="digitBon[2] ? 'BackGroundGreyUp' : ''"></div>
        <div class="digit3" [ngClass]="digitBon[2] ? 'ColorYellow' : ''">{{ digits[2] }}</div>
        <div class="arrowDown" style="top: 450px; left: 125px" (click)="addDigitValue(false, 2)" [ngClass]="digitBon[2] ? 'BackGroundGreyDown' : ''"></div>
      </div>

      <div>
        <div class="arrowUp" style="top: 430px; left: 145px" (click)="addDigitValue(true, 3)" [ngClass]="digitBon[3] ? 'BackGroundGreyUp' : ''"></div>
        <div class="digit4" [ngClass]="digitBon[3] ? 'ColorYellow' : ''">{{ digits[3] }}</div>
        <div class="arrowDown" style="top: 450px; left: 145px" (click)="addDigitValue(false, 3)" [ngClass]="digitBon[3] ? 'BackGroundGreyDown' : ''"></div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" height="500" width="500" viewBox="0 0 448 512" class="svgCadena">
      <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
      <path
        d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/>
    </svg>
  </div>

  <div>
    <button type="button" class="validerButton" (click)="valider()">Valider</button>
<!--    <button type="button" class="validerButton" (click)="autoClear()">Préremplire</button>-->
  </div>
</div>

